<template name="landing_page">
	<div class="stripes">
		<div class="stripe0"></div>
		<div class="stripe1"></div>
		<div class="stripe2"></div>
		<div class="stripe3"></div>
		<div class="stripe4"></div>

		<div class="stripe0"></div>
		<div class="stripe1"></div>
		<div class="stripe2"></div>
		<div class="stripe3"></div>
		<div class="stripe4"></div>

		<div class="stripe0"></div>
		<div class="stripe1"></div>
		<div class="stripe2"></div>
		<div class="stripe3"></div>
		<div class="stripe4"></div>

		<div class="stripe0"></div>
		<div class="stripe1"></div>
		<div class="stripe2"></div>
		<div class="stripe3"></div>
		<div class="stripe4"></div>
	</div>
	<div class="background">
		<div class="main">
        <div class="header row">
            <div class="logo img-circle span2"></div>
            <div class="span2 name"><a href="#" class="brand">Codetlan</a></div>
            <div class="span7 offset2">
                <nav>                    
                    <ul>
                        <li class="menu-text"><a href="{{pathFor 'courses'}}">Academia</a></li>            
                        <!-- <li class="menu-text"><a href="http://api.codetlan.com/">API</a></li>             -->
                        <li class="menu-text"><a href="#products">Aplicaciones</a></li>            
                        <li class="menu-text"><a href="http://blog.codetlan.com/">Blog</a></li>
                        <li class="menu-text"><a href="#contact">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="content">
            <h1> Hacemos Software, <br> <br> y lo disfrutamos  :)</h1>
            <h2><span>Somos una empresa que disfruta desarrollar aplicaciones en </span><b>ExtJS 4, Sencha Touch 2, Ruby on Rails, PHP, NodeJS, MeteorJS, iOS y Android OS.</b>
            <br>
            Ademas ofrecemos cursos de <b>ExtJS 4, Sencha Touch 2, MeteorJS y Laravel PHP.</b>
            </h2>
        </div>

        <!-- products -->
        <div class="products" id="products">
            <section id="set-6">
                <div class="hi-icon-wrap hi-icon-effect-6">
                    <a href="#" class="hi-icon hi-icon-screen" data="sifaca">Sifaca</a>
                    <a href="#" class="hi-icon hi-icon-contract" data="suite">SuiteHT</a>
                    <a href="#" class="hi-icon hi-icon-mobile" data="cursame">Cúrsame</a>
                    <a href="#" class="hi-icon hi-icon-images" data="altar">Altar</a>
                    <a href="#" class="hi-icon hi-icon-star" data="expertus">ExperUs</a>
                </div>
            </section>            
        </div>

        <div class="app-description-wrapper">
            <div class="app-description-content" id="sifaca">
                <a href="http://sifaca.codetlan.com/" target="_blank" class="hi-icon-screen app-image"></a>
                <div class="app-description">
                    <h2>Sifaca</h2>
                    <span>
                        Crea tus facturas electrónicas de una manera sencilla y dinámica.
                        <ul>
                            <li>Usuarios</li>
                            <li>Productos</li>
                            <li>Numero de facturas</li>
                            <li>Impresión</li>
                            <li>Exportar a PDF</li>
                            <li>Eviar por mail</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="app-description-content" id="suite">
                <a href="http://thehumantalent.com/" target="_blank" class="hi-icon-contract app-image"></a>
                <div class="app-description">
                    <h2>Suite Humant Talent</h2>
                    <span>
                        Desarrollo y consultoría para la empresa <a href="http://thehumantalent.com/">Human Talent</a>.
                        <ul>
                            <li>Módulo de evaluaciones 360</li>
                            <li>Módulo de Rutas de aprendizaje</li>
                            <li>Módulo nine-box-grid</li>
                            <li>Módulo mejores-candidatos</li>
                            <li>Optimización de la plataforma</li>
                            <li>Módulo de ficha de talento.</li>
                            <li>Módulo evaluación de desempeño.</li>
                            <li>Módulo organigrama.</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="app-description-content" id="cursame">
                <a href="http://cursa.me/" target="_blank" class="hi-icon-mobile app-image"></a>
                <div class="app-description">
                    <h2>Cúrsame Web Mobile</h2>
                    <span>
                        Desarrollo de la aplicacón web-mobile para <a href="http://cursa.me/">Cúrsame</a>.
                        <ul>
                            <li>Muro</li>
                            <li>Notificaciones</li>
                            <li>Cursos</li>
                            <li>Comunidad</li>
                            <li>Perfiles</li>
                            <li>Empaquetado para iOS y Android</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="app-description-content" id="altar">
                <a href="http://alt4r.herokuapp.com/" target="_blank" class="hi-icon-images app-image"></a>
                <div class="app-description">
                    <h2>Altar</h2>
                    <span>
                        Tienda online de artistas mexicanos.
                        <ul>
                            <li>Usuarios</li>
                            <li>Productos</li>
                            <li>Compras</li>
                            <li>Almacen</li>
                            <li>Versión movil para iOS</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="app-description-content" id="expertus">
                <a href="http://expertus.meteor.com/" target="_blank" class="hi-icon-star app-image"></a>
                <div class="app-description">
                    <h2>ExpertUs</h2>
                    <span>
                        Comunidad de expertos online para:
                        <ul>
                            <li>Consultoria Medica</li>
                            <li>Consultoria TI</li>
                            <li>Capacitación</li>
                            <li>Cursos</li>
                            <li>Talleres</li>
                            <li>Help Desk</li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    <!-- fin products -->


	<!-- contact form -->
		<div class="contact" id="contact">
            <div class="signup-form">
                <h1>Contactanos!</h1>
                <div>
                      <form class="form-wrapper-01">
                        <input name="name" id="input_name" class="inputbox email" type="text" placeholder="Tu Nombre" />
                        <input name="email" id="input_email" class="inputbox email" type="text" placeholder="Tu E-mail" />
                        <textarea name="comment" id="input_comment" style = "width:590px" rows="10" placeholder="Tu mensaje"></textarea>
                        <p><a href="#" class="button hi-icon "><br>Enviar</a></p>
                      </form>
                    <div class="social">
                        <a target="_blank" href="https://github.com/codetlan" class="github"><i class="icon-github"></i></a>
                        <a target="_blank" href="http://www.facebook.com/Codetlan?fref=ts" class="facebook"><i class="icon-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/Codetlan" class="twitter"><i class="icon-twitter"></i></a>
                        <a target="_blank" href="http://www.facebook.com/Senchamx?fref=ts" class="google"><i class="icon-gplus"></i></a>

                    </div>
                </div>                
            </div>
            <h4>Codetlan 2013 | Teléfono: (+52) 55 56067040</h4>
        </div>
    <!-- fin contact form -->

	</div>

	
</template>